@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Mulish:wght@600&family=Poppins:wght@300;500&display=swap');
*{
  scroll-behavior: smooth;
  background-color: black;
  margin : 0;
  padding : 0;
  line-height: 1.5;
  color: white;
  font-family: 'Mukta';
  outline: 1px solid cyan;
  box-sizing: border-box;
  overflow-wrap: break-word;  
}
::-webkit-scrollbar {
  display: none;
}
.root {
  margin: 0 2em;
  height: auto;
}

.header{
  height: fit-content;
  display : flex;
  justify-content: space-evenly;
  padding : 6px 0px;
  box-shadow: 0 4px 6px rgba(255,255,255,0.2);
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 999;
}
.scrollBar {
  padding-top: 15em;
} 
li{
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 2px 8px;
  border-top: 2px solid blue;
  background-image: linear-gradient(to right,blue,red);
  border-radius: 1em;
  color : transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: border-bottom 0.2s ease-in-out;
}
li.active {
  border-bottom: 2px solid red;
}
li:hover {
  border-bottom: 2px solid red;
}
.description{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.myname{
  width: 60%;
  margin-top: 60px;
}
.topHeading{
  color: red;
  word-break: keep-all;
}
.blue{
  color: blue;
  text-align: center;
}
.hello{
  padding: 0.1em;
  font-size: clamp(1.5em,4vw,3em);
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
  animation: opacity 2s forwards;
}
@keyframes opacity {
  to {
    opacity: 1;
  }
}

img {
  width: clamp(200px,30vw,500px);
  height: clamp(200px,30vw,500px);
}
.imageContainer{
  width: clamp(200px,30vw,500px);
  height: clamp(200px,30vw,500px);
  margin: 2rem auto;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 1s ease-in;
  animation:imageOpacity 2s forwards ;
}
@keyframes imageOpacity {
  to {
    opacity: 1;
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.306);
  }
  50% {
    box-shadow: 0 0 60px rgba(0,0,255,0.3);
  }
  100% {
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.306);
  }
}
.skillsPage {
  margin-top: 20em;
  width: 100%;
}
