@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Mulish:wght@600&family=Poppins:wght@300;500&display=swap');
*{
  background-color: black;
  margin : 0;
  padding : 0;
  line-height: 1.5;
  color: white;
  font-family: 'Mukta';
  outline: 1px solid cyan;
  box-sizing: border-box;
}
.header{
  display : flex;
  justify-content: space-evenly;
  padding : 6px 0px;
  box-shadow: 0 4px 6px rgba(255,255,255,0.2);
  position: sticky;
  top: 0;
  z-index: 999;
}
li{
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 2px 8px;
  border-top: 2px solid blue;
  background-image: linear-gradient(to right,blue,red);
  border-radius: 1em;
  color : transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: border-bottom 0.2s ease-in-out;
}
li:hover {
  border-bottom: 2px solid red;
}
.description{
  display: flex;
  margin-top: 10em;
}
.myname{
  width: 60%;
  margin-top: 80px;
}
.topHeading{
  color: red;
  word-wrap: break-word;
}
.blue{
  color: blue;
}
.hello{
  padding: 0.1em;
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
}
.imageContainer{
  width: clamp(200px,50%,500px);
  height: 500px;
  margin: auto;
  position: relative;
  border-radius: 1rem;
  animation: shadow 4s linear infinite ;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.306);
  }
  50% {
    box-shadow: 0 0 60px rgba(0,0,255,0.3);
  }
  100% {
    box-shadow: 0 0 60px rgba(255, 0, 0, 0.306);
  }
}
